body {
    background-image: url("../images/full-bloom.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    margin-left: 15px;    
}

header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #ffffff;
    
    
}

section.links {
    float: right;
}

div {
    background: #ffffff;
    color: #4aaaa5;
    height: 200px;
}

h2 {
    border-bottom-style: solid;
    border-bottom-color: black;
}

p {
    color: black;
}

span.a {
    display: inline; /* the default for span */
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: #4aaaa5;
    font-weight: bolder;
    font-size: 30px;
    color:  #ffffff;
}

img {
    float: left;
    padding-right: 40px;
}

textarea {
    width: 600px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
}

.contact {
    background-color: #ffffff;
    height: 400px;
    
}

footer {
    /*clear: left;*/
    /*float: bottom;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 960px;    
    /*padding: 40px 0;*/
    text-align: center;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    background-color: #666666;
    color: #c4bdbd;
}

.container1 {
    position: relative;
    text-emphasis: center;
    color: teal;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

